div.background {
	content: '';
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	display: block;
	position: fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-image: inherit;
	z-index: -2;
	opacity: 0;
}
body {
	background-color: black;
}
.contain {
	margin: 50px auto 50px auto;
}
.hole {
	background-color: #333;
	border: 1px solid #2a2a2a;
	-webkit-box-shadow: 0px 0px 46px 1px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 46px 1px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 46px 1px rgba(0,0,0,0.75);
	color: #efefef;
}
h1.title {
	color: #efefef;
	font: bold 32pt Verdana, sans-serif;
}
.content {
	display: none;
}
.custominput {
	display: none;
}
hr.styled {
	border: 0;
	height: 1px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}
.citygrouplabel {
	background-color: #333;
	color: #dedede;
	font: 10pt Verdana, sans-serif;
	border-top: none;
	border-bottom: none;
	border-right: none;
	border-left: solid 2px #777;
}
.citygrouptext {
	background: transparent;
	border: solid 1px #666;
	color: #dedede;
}